body,
html {
  overflow-x: hidden;
  font-family: "Gilroy";
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.beer-reveal > img:first-child {
  height: 100%;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.tabs,
.tabs2 {
  display: flex;
}

.tabs .tab,
.tabs2 .tab {
  padding: 10px 30px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: 0.3s;
  background: white;
  font-size: 24px;
  font-weight: 500;
  color: #222;
  border-radius: 20px 20px 0 0;
  min-width: 200px;
}
@media (max-width: 1024px) {
  .tabs .tab,
.tabs2 .tab {
    font-size: 20px;
    min-width: auto;
  }
}
@media (max-width: 767px) {
  .tabs .tab,
.tabs2 .tab {
    font-size: 16px;
    padding: 10px 15px;
  }
}

.tabs .active,
.tabs2 .active {
  background: #0e6131;
  color: white;
}

.tab-content-wrap,
.tab-content-wrap2 {
  background: #0e6131;
  border-radius: 0 20px 20px 20px;
  padding: 20px;
}
.tab-content-wrap .bottom,
.tab-content-wrap2 .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .tab-content-wrap .bottom,
.tab-content-wrap2 .bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.tab-content-wrap .bottom .back,
.tab-content-wrap2 .bottom .back {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
@media (max-width: 767px) {
  .tab-content-wrap .bottom .back,
.tab-content-wrap2 .bottom .back {
    margin-top: 10px;
  }
}
.tab-content-wrap .bottom .buttons,
.tab-content-wrap2 .bottom .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .tab-content-wrap .bottom .buttons,
.tab-content-wrap2 .bottom .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
.tab-content-wrap .bottom .buttons a,
.tab-content-wrap2 .bottom .buttons a {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .tab-content-wrap .bottom .buttons a,
.tab-content-wrap2 .bottom .buttons a {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}
.tab-content-wrap .bottom .buttons a.white,
.tab-content-wrap2 .bottom .buttons a.white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 40px;
  border-radius: 50px;
  background: #fff;
  color: #0e6131;
  border: 1px solid #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}
.tab-content-wrap .bottom .buttons a.white svg,
.tab-content-wrap2 .bottom .buttons a.white svg {
  margin-left: 6px;
  fill: #0e6131;
  transition: 0.3s;
}
.tab-content-wrap .bottom .buttons a.white:hover,
.tab-content-wrap2 .bottom .buttons a.white:hover {
  background: #0e6131;
  color: #fff;
}
.tab-content-wrap .bottom .buttons a.white:hover svg,
.tab-content-wrap2 .bottom .buttons a.white:hover svg {
  fill: #fff;
}
.tab-content-wrap .bottom .buttons a.border,
.tab-content-wrap2 .bottom .buttons a.border {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 12px;
  border-radius: 50px;
  background: #0e6131;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}
.tab-content-wrap .bottom .buttons a.border svg,
.tab-content-wrap2 .bottom .buttons a.border svg {
  margin-left: 6px;
  fill: #fff;
  transition: 0.3s;
}
.tab-content-wrap .bottom .buttons a.border:hover,
.tab-content-wrap2 .bottom .buttons a.border:hover {
  background: #fff;
  color: #0e6131;
}
.tab-content-wrap .bottom .buttons a.border:hover svg,
.tab-content-wrap2 .bottom .buttons a.border:hover svg {
  fill: #0e6131;
}

.rooms-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .rooms-items {
    grid-template-columns: 1fr;
  }
}
.rooms-items.hide {
  display: none;
}
.rooms-items .rooms-item {
  padding: 20px;
  background: white;
  border-radius: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.rooms-items .rooms-item:hover .info {
  opacity: 0;
}
.rooms-items .rooms-item .info {
  transition: 0.3s;
  background: #0e6131;
  font-size: 120px;
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .rooms-items .rooms-item .info {
    font-size: 60px;
  }
}
.rooms-items .rooms-item .img-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 490px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .rooms-items .rooms-item .img-wrap {
    height: 120px;
  }
}

.rooms-tab {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.rooms-tab.hide {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.rooms-tab.active {
  height: auto;
  visibility: visible;
  overflow: visible;
}

.tab-content {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
}
.tab-content .slider-wrap,
.tab-content .slider-wrap2 {
  position: relative;
  z-index: 0;
}
.tab-content .slider-wrap .slider-navigation button.slick-next,
.tab-content .slider-wrap2 .slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .tab-content .slider-wrap .slider-navigation button.slick-next,
.tab-content .slider-wrap2 .slider-navigation button.slick-next {
    right: 10px;
  }
}
.tab-content .slider-wrap .slider-navigation button.slick-prev,
.tab-content .slider-wrap2 .slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .tab-content .slider-wrap .slider-navigation button.slick-prev,
.tab-content .slider-wrap2 .slider-navigation button.slick-prev {
    left: 10px;
  }
}
.tab-content .slider-wrap .slider-navigation button.slick-prev img,
.tab-content .slider-wrap2 .slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.tab-content .slider-wrap .slider,
.tab-content .slider-wrap .slider2,
.tab-content .slider-wrap2 .slider,
.tab-content .slider-wrap2 .slider2 {
  margin-bottom: 0;
}
.tab-content .slider-wrap .slider .slick-dots,
.tab-content .slider-wrap .slider2 .slick-dots,
.tab-content .slider-wrap2 .slider .slick-dots,
.tab-content .slider-wrap2 .slider2 .slick-dots {
  display: none !important;
}
.tab-content .slider-wrap .slider .item,
.tab-content .slider-wrap .slider2 .item,
.tab-content .slider-wrap2 .slider .item,
.tab-content .slider-wrap2 .slider2 .item {
  border-radius: 20px;
  overflow: hidden;
}
.tab-content .slider-wrap .slider .item .block-3d,
.tab-content .slider-wrap .slider2 .item .block-3d,
.tab-content .slider-wrap2 .slider .item .block-3d,
.tab-content .slider-wrap2 .slider2 .item .block-3d {
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  background: url(../img/3d.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #0e6131;
  font-size: 120px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1300px) {
  .tab-content .slider-wrap .slider .item .block-3d,
.tab-content .slider-wrap .slider2 .item .block-3d,
.tab-content .slider-wrap2 .slider .item .block-3d,
.tab-content .slider-wrap2 .slider2 .item .block-3d {
    height: 44vw;
  }
}
@media (max-width: 1024px) {
  .tab-content .slider-wrap .slider .item .block-3d,
.tab-content .slider-wrap .slider2 .item .block-3d,
.tab-content .slider-wrap2 .slider .item .block-3d,
.tab-content .slider-wrap2 .slider2 .item .block-3d {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .tab-content .slider-wrap .slider .item .block-3d,
.tab-content .slider-wrap .slider2 .item .block-3d,
.tab-content .slider-wrap2 .slider .item .block-3d,
.tab-content .slider-wrap2 .slider2 .item .block-3d {
    height: 60vw;
    font-size: 30px;
  }
}

.tab-content.active {
  visibility: visible;
  height: auto;
  opacity: 1;
  overflow: visible;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.grey-bg {
  background: #eceff3;
  padding: 20px 80px;
}
@media (max-width: 1500px) {
  .grey-bg {
    padding: 20px 0;
  }
}

.beer-handle {
  border: 1.5px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  width: 50px;
  height: 50px;
}

.beer-reveal {
  border-right: 3px solid #fff;
}

.beer-slider {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.beer-slider img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.buy-wrap {
  border-radius: 20px;
  background: white;
  padding: 30px 20px;
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .buy-wrap {
    margin-top: 30px;
  }
}
.buy-wrap h2 {
  font-size: 60px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 20px;
  margin-left: 30px;
}
@media (max-width: 1024px) {
  .buy-wrap h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .buy-wrap h2 {
    font-size: 30px;
    margin-left: 0px;
  }
}
.buy-wrap .info {
  background: #222222;
  height: 640px;
  background: #d9d9d9;
  border-radius: 40px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .buy-wrap .info {
    height: 480px;
  }
}
@media (max-width: 767px) {
  .buy-wrap .info {
    height: 320px;
    border-radius: 20px;
  }
}
.buy-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .buy-wrap .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
  }
}
.buy-wrap .buttons a {
  min-width: 180px;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .buy-wrap .buttons a {
    margin-left: 0;
    margin-top: 10px;
  }
}

.select-rooms {
  margin: 40px 0;
}
@media (max-width: 1024px) {
  .select-rooms {
    margin-bottom: 0;
  }
}
.select-rooms h2 {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: bold;
  color: #3e3e3e;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .select-rooms h2 {
    font-size: 30px;
  }
}

.top-info {
  border-radius: 20px;
  background: white;
  padding: 30px 20px;
}
.top-info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .top-info .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
  }
}
.top-info .buttons a {
  min-width: 180px;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .top-info .buttons a {
    margin-left: 0;
    margin-top: 10px;
  }
}

.green-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 40px;
  border-radius: 50px;
  background: #0e6131;
  color: white;
  border: 1px solid #0e6131;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}
.green-btn svg {
  margin-left: 6px;
  fill: white;
  transition: 0.3s;
}
.green-btn:hover {
  background: white;
  color: #0e6131;
}
.green-btn:hover svg {
  fill: #0e6131;
}

.white-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 40px;
  border-radius: 50px;
  background: #fff;
  color: #0e6131;
  border: 1px solid #0e6131;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}
.white-btn svg {
  margin-left: 6px;
  fill: #0e6131;
  transition: 0.3s;
}
.white-btn:hover {
  background: #0e6131;
  color: #fff;
}
.white-btn:hover svg {
  fill: #fff;
}

.top-slider-wrap {
  position: relative;
  z-index: 0;
}
.top-slider-wrap .top-slider {
  margin-bottom: 0 !important;
}
.top-slider-wrap .top-slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.slider-navigation button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}
@media (max-width: 1200px) {
  .slider-navigation button {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .slider-navigation button {
    width: 30px;
    height: 30px;
  }
}
.slider-navigation button:hover {
  opacity: 0.7;
}
.slider-navigation button img {
  margin: auto;
  width: 10px;
}
@media (max-width: 767px) {
  .slider-navigation button img {
    width: 6px;
  }
}
.slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .slider-navigation button.slick-next {
    right: 10px;
  }
}
.slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .slider-navigation button.slick-prev {
    left: 10px;
  }
}
.slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.slider-navigation button:before {
  content: none;
}

/*# sourceMappingURL=style.css.map */
